body{
  background-image: url('../images/wallpaper004.jpg');
}

.quadrado{
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
  width: 300px;
  height: 300px;
}

#q1 {
  background-color: greenyellow;
}

#q2 {
  background-image: linear-gradient(to bottom, yellow, rgb(32, 163, 214));
}

#q3 {
  background-image: url('../images/pattern003.png');
}