@charset "UTF-8";

/*
  Em HTML é id    ==> em CSS é # (só pode um elemento com o mesmo nome )
  Em HTML é class ==> em CSS é . (pode vários elementos com o mesmo nome )
*/

body {
  background-color: #d6fde9;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #1e402f;
}

h2 {
  color: #3c805e;
}

#principal {
  text-align: center;
  background-color: #3c805e;
  color: rgba(255, 255, 255, 0.836);
}

.basico {
  color: #3c805e;
}

.intermediario {
  color: #80793c;
}

.avancado {
  color: #803c3c;
}

.destaque {
background-color: #c5c56070;
}
